.border {
    border-top: 1px solid #d9d9d9;
    padding-top: 16px;
}

.box-title {
    position: absolute;
    top: -28px;
    margin-left: 16px;
    padding: 1px 8px;
    /*color: #ff1c08;*/
    background: #bfbfbf;

    border-radius: 2px 2px 0 0;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}

.box {
    position: relative;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    padding-right: 20px;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    border-radius: 0 0 2px 2px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}
.supervision-container {
    max-width: 420px;
    margin: 0 auto;
    margin-top: 40px;
}

.supervision-form-button {
    width: 100%;
    margin-top: 15px;
}

.supervision-form-button[disabled], .supervision-form-button[disabled]:hover, .supervision-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.supervision-form input {
    margin-bottom: 3px;
}

.new_report{
    background-color: #657786;
}

.ED_BOSS_CONFIRM{
    background-color: #42ffa8;
}

.SHOB_BOSS_CONFIRM{
    background-color: #50b1ff;
}

.SHOB_UNIT_BOSS_CONFIRM{
    background-color: #5856d6;
}

.hide {
    display: none;
}