@import '~antd/dist/antd.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/antd/3.6.4/antd.css';

.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 6em;
}

.toastBody{
  font-family: Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.datepicker-input{
  color: #1890ff;
  border: #8899A6;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
}